<html>
  <head>
    <title>JIRA Form Page</title>
	<style type="text/css">
		body{margin:50px;background-color: #EEEEEE;}
		.field-group{margin: 10px 80px 10px 10px; float: left; clear: left;}
		input{width: 300px}
		#warn, .warn{font-size:20px; font-weight:bold; color:red;}
		#title{font-size:25px; font-weight:bold; }
		</style>
		<script type="text/javascript">
		
		#include("js\\jquery-1.10.2.min.js")
		
		#include("js\\createIssue.js")
		</script>
  </head>
  <body>
  #parse("HelpDesk.vm")
	<center>
	
	<Span id="title" style="float: left; margin-left: 170px">创建事件</span>
    <form id="createIssue" class="aui" method="post" action="AjaxCreateIssueEvent">

        <div class="field-group">
             <label for="content">部门:</label>
             <input type="text" id="department" name="department" class="text" value="#if($department)$department#end">
        </div>
        <div class="field-group">
             <label for="content">联系电话&邮件地址:</label>
             <input type="text" id="information" name="information" class="text" value="#if($information)$information#end">
        </div>
        <div class="field-group">
             <label for="content">事件主题:</label>
             <input type="text" id="summary" name="summary" class="text" value="#if($summary)$summary#end">
        </div>
		<div class="field-group">
             <label for="content">事件描述:</label>
             <input type="text" id="description" name="description" class="text" value="#if($description)$description#end">
        </div>
		#if($itemlist)
         <div class="field-group">
             <label for="content">事件类型:</label>
			 <select name="issuetype" id="issuetype">
					#foreach ($content in $itemlist)
                  <option value="$content" #if($issuetype&&$issuetype==$content) selected="selected" #end >$content</option>
                  #end
                  </select>
          </div>
       #end
		<div class="field-group" id="attachmentList">
             <label for="content" style="float: left;">附件:</label>
             
        </div>

 
        <div class="field-group">
             <input type="submit" id="createIssueSubmitButton" style="width:100px; float: left; margin-left: 150px" value="创建事件" class="button">
        </div>
    </form>
    <div style="float:left; margin: -200px 0 0 300px;">
    <span style="float: left">添加附件</span>
    <form id="uploadFileForm" action='AjaxUploadFile' method='post' enctype='multipart/form-data' style="float: left; margin: 0px 0px 0px 20px;">
    	<input id="uploadFileInput" type='file' name='file' size='50' />
    </form>

	<Span id="warn" style="float:left; clear:both;">#if($warn)$warn#end</span>
    

    </center>
  </body>
</html>