<html>
<h1>$meth</h1>
<form action="/TomCat7/Login" method="POST">
µÇÂ½<input type="text" name="username">
<br />
µÇÂ½<input type="password" name="password" />
<br />
<input type="submit" value="µÇÂ½" />
<h1>$uname</h1>
</form>
</html>