<html>
  <head>
    <title>JIRA Form Page</title>
	<style type="text/css">
		body{margin:50px;background-color: #EEEEEE;}
		.field-group{margin: 10px 80px 10px 10px; float: left; clear: left;}
		input{width: 300px}
		#warn, .warn{font-size:20px; font-weight:bold; color:red;}
		#title{font-size:25px; font-weight:bold; }
		</style>
	<script type="text/javascript">
		
		#include("js\\jquery-1.10.2.min.js")
		
		#include("js\\loadTransition.js")
		</script>
  </head>
  <body>
  #parse("HelpDesk.vm")
	<center>
	
	
    <Span id="warn">#if($Createdissuekey)新事件创建完成：$Createdissuekey#end</span>
    <Span id="warn">#if($warn)$warn#end</span>
    <div id="bodycontent" >
     <div style="float: left; ">
    <Span id="title" style="float: left; margin-left: 200px">搜索事件</span>
    <form id="admin" class="aui" method="post" action="SearchIssueEvent">
        

        <div class="field-group">
             <label for="content">申请部门:</label>
             <input type="text" id="department" name="department" class="text" value="#if($department)$department#end">
        </div>
        <div class="field-group">
             <label for="content">联系方式:</label>
             <input type="text" id="information" name="information" class="text" value="#if($information)$information#end">
        </div>
        <div class="field-group">
             <label for="content">事件主题:</label>
             <input type="text" id="summary" name="summary" class="text" value="#if($summary)$summary#end">
        </div>
		<div class="field-group">
             <label for="content">事件描述:</label>
             <input type="text" id="description" name="description" class="text" value="#if($description)$description#end">
        </div>
		#if($issuetypes)
         <div class="field-group">
             <label for="content">事件类型:</label>
			 <select name="issuetype">
			 <option value="" #if(!$issuetype) selected="selected" #end ></option>
					#foreach ($content in $issuetypes)
                  <option value="$content" #if($issuetype&&$issuetype==$content) selected="selected" #end >$content</option>
                  #end
                  </select>
          </div>
       #end
       
       <div class="field-group">
             <label for="content">事件提交时间范围(yyyy-mm-dd):</label>
             <br />搜索起始时间：<input type="text" id="createtime" name="createtime" class="text" value="#if($createtime)$createtime#end">
            <br /> 搜索结束时间：<input type="text" id="createtimeend" name="createtimeend" class="text" value="#if($createtimeend)$createtimeend#end">
        </div>
 
 		#if($statuss)
         <div class="field-group">
             <label for="content">处理状态:</label>
			 <select name="status">
			 <option value="" #if(!$status) selected="selected" #end ></option>
					#foreach ($content in $statuss)
                  <option value="$content" #if($status&&$status==$content) selected="selected" #end >$content</option>
                  #end
                  </select>
          </div>
       #end
       
       #if($resolutions)
         <div class="field-group">
             <label for="content">处理方式:</label>
			 <select name="resolution">
			  <option value="" #if(!$resolution) selected="selected" #end ></option>
					#foreach ($content in $resolutions)
                  <option value="$content" #if($resolution&&$resolution==$content) selected="selected" #end >$content</option>
                  #end
                  </select>
          </div>
       #end
 
       <div class="field-group">
             <label for="content">IT解决方案:</label>
             <input type="text" id="resolutiondescription" name="resolutiondescription" class="text" value="#if($resolutiondescription)$resolutiondescription#end">
        </div>
 		<div class="field-group">
             <label for="content">未通过原因:</label>
             <input type="text" id="reasonOfNotPass" name="reasonOfNotPass" class="text" value="#if($reasonOfNotPass)$reasonOfNotPass#end">
        </div>
 
        <div class="field-group">
             <input type="submit" style="width:100px; margin-left:200px;" value="提交搜索" class="button">
        </div>
    </form>
</div>

<div style="float: left; clear: both; width: 100%;">
<a href="SearchIssueEvent?IssueStatus=notClosed" style="float: left;  margin-right:20px">所有我提交未关闭的事件</a>
<a href="SearchIssueEvent?IssueStatus=all"  style="float: left;  margin-left:20px">所有我提交的事件</a>
</div>
    #if($searchResultViaJQL)
    <div style="float: left; clear: both; width: 100%;">
		<Span id="title">事件搜索结果: 一共$total个结果</span>
		
    <table width="100%" cellpadding="5" cellspacing="1" bordercolor="#333333">
            <tr><td bgcolor="#eeeeee" align="center" style="font-weight:bold;">姓名</td><td bgcolor="#eeeeee" align="center" style="font-weight:bold;">申请部门</td>
            <td bgcolor="#eeeeee" align="center" style="font-weight:bold;">联系方式</td><td bgcolor="#eeeeee" align="center" style="font-weight:bold;">事件类型</td>
            <td bgcolor="#eeeeee" align="center" style="font-weight:bold;">事件描述</td><td bgcolor="#eeeeee" align="center" style="font-weight:bold;">事件提交时间</td>
            <td bgcolor="#eeeeee" align="center" style="font-weight:bold;">经办人</td>
            <td bgcolor="#eeeeee" align="center" style="font-weight:bold;">处理状态</td> <td bgcolor="#eeeeee" align="center" style="font-weight:bold;">处理方式</td>
             <td bgcolor="#eeeeee" align="center" style="font-weight:bold;">IT解决方案</td>
             <td bgcolor="#eeeeee" align="center" style="font-weight:bold;">未通过原因</td>
             <td bgcolor="#eeeeee" align="center" style="font-weight:bold;">附件</td>
              <td bgcolor="#eeeeee" align="center" style="font-weight:bold;">操作</td>
            </tr>
            #foreach ($content in $searchResultViaJQL)
            <tr>
						<td bgcolor="#6666FF" align="center">$content.get("unameitem")</td>
						<td bgcolor="#6666FF" align="center">$content.get("departmentitem")</td>
						<td bgcolor="#6666FF" align="center">$content.get("informationitem")</td>
						<td bgcolor="#6666FF" align="center">$content.get("issuetypeitem")</td>
						<td bgcolor="#6666FF" align="center">$content.get("descriptionitem")</td>
						<td bgcolor="#6666FF" align="center">$content.get("createditem")</td>
						<td bgcolor="#6666FF" align="center">$content.get("assigneeitem")</td>
						<td bgcolor="#6666FF" align="center" id='status$content.get("issuekey")'>$content.get("statusitem")</td>
						<td bgcolor="#6666FF" align="center">$content.get("resolutionitem")</td>
						
						<td bgcolor="#6666FF" align="center">$content.get("resolutiondescriptionitem")</td>
						<td bgcolor="#6666FF" align="center">$content.get("reasonOfNotPassitem")</td>
						<td bgcolor="#6666FF" align="center">
						#if($content.get("attachmentItem"))
						#foreach ($attachmentItem in $content.get("attachmentItem"))
							<a href='DownloadAttachment?id=$attachmentItem.get("attachmentId")&name=$attachmentItem.get("attachmentName")'>$attachmentItem.get("attachmentName")</a><br />
						#end
						#end
						</td>
						<td bgcolor="#6666FF" align="center"><div class="transition_functions" id='$content.get("issuekey")'><a href="" style="display:none;" class="closeInfoList">通过</a> <a href="" style="display:none;"  class="reopenInfoList">| 不通过</a></div></td>
			</tr>
			#end
    </table>
    #end
    </div>
    </div>
    </center>
  </body>
</html>
