<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>TomCat7</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>JIRA</servlet-name>
		<servlet-class>com.velocitydemo.velocityhandler.JIRA</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JIRA</servlet-name>
		<url-pattern>/JIRA</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/JIRA</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.velocitydemo.velocityhandler.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/Login</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>HelpDesk</servlet-name>
		<servlet-class>com.velocitydemo.velocityhandler.HelpDesk</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelpDesk</servlet-name>
		<url-pattern>/HelpDesk</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/HelpDesk</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>CreateIssueEvent</servlet-name>
		<servlet-class>com.velocitydemo.velocityhandler.CreateIssueEvent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateIssueEvent</servlet-name>
		<url-pattern>/CreateIssueEvent</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/CreateIssueEvent</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>SearchIssueEvent</servlet-name>
		<servlet-class>com.velocitydemo.velocityhandler.SearchIssueEvent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchIssueEvent</servlet-name>
		<url-pattern>/SearchIssueEvent</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/SearchIssueEvent</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>GoJIRA</servlet-name>
		<servlet-class>com.velocitydemo.velocityhandler.GoJIRA</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoJIRA</servlet-name>
		<url-pattern>/GoJIRA</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/GoJIRA</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>GetTransitionList</servlet-name>
		<servlet-class>com.velocitydemo.velocityhandler.GetTransitionList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTransitionList</servlet-name>
		<url-pattern>/GetTransitionList</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/GetTransitionList</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>TransitionIssues</servlet-name>
		<servlet-class>com.velocitydemo.velocityhandler.TransitionIssues</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransitionIssues</servlet-name>
		<url-pattern>/TransitionIssues</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/TransitionIssues</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>Confluence</servlet-name>
		<servlet-class>com.velocitydemo.velocityhandler.Confluence</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Confluence</servlet-name>
		<url-pattern>/Confluence</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/Confluence</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>GetPara</servlet-name>
		<servlet-class>com.velocitydemo.velocityhandler.GetPara</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetPara</servlet-name>
		<url-pattern>/GetPara</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/GetPara</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>com.velocitydemo.velocityhandler.HttpSessionCollector</listener-class>
	</listener>
</web-app>

